#smart-history-root {
  color: black;
  background-color: white;
}

.smart-history-table {
  border-collapse: collapse;
}

.smart-history-table th {
  font-weight: bold;
  text-align: left;
}

.smart-history-table .sh-comments {
  text-align: right;
  font-size: 85%;
  max-width: 40%;
}

.smart-history-table th:nth-child(6) {
  text-align: right;
}

.smart-history-table tr:nth-child(2n) {
  background-color: #f1f1f1;
}

.smart-history-table .sh-date {
  white-space: nowrap;
}

.smart-history-table td:not(:nth-child(6)) {
  padding-right: 2px;
}

.smart-history-table tr.selected {
  background-color: #ff5;
}

.smart-history-table tr {
  position: relative;
}

.smart-history-table .options {
  display: none;
}

.smart-history-table tr:hover .options {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: fit-content;
  padding-left: 30px;
  background-image: linear-gradient(
    to left,
    white 0%,
    white calc(100% - 30px),
    transparent 100%
  );
  z-index: 2;
}

.smart-history-table .options button {
  margin-left: 5px;
}

.sh-note {
  color: #444;
  font-size: 90%;
  font-style: italic;
  margin: 0;
}

.sh-truncated {
  color: #777;
  font-style: italic;
}

.sh-cmp input {
  width: 5em;
}

.inline-diff {
  font-family: monospace;
}

ins {
  background-color: rgb(154, 235, 154);
}

del {
  background-color: rgb(250, 170, 156);
}

.collapsed-diff-section {
  background-color: white;
}
.active-diff-section {
  background-color: #f2f2f2;
}

.page-source {
  font-family: monospace;
  border: 1px dashed #777;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre;
}

.page-source-area-header {
  display: grid;
  grid-template-columns: auto auto;
}

.page-source-area-header h2 {
  justify-self: left;
}
.page-source-area-header button {
  justify-self: right;
  height: fit-content;
  align-self: center;
}
