@import url("https://rsms.me/inter/inter.css");

body {
  padding: 0;
  margin: 0;
}

.plugin-settings-page {
  display: grid;
  grid-template-areas:
    "header header"
    "list settings";
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  grid-template-rows: min-content auto;
  grid-template-columns: minmax(0, max-content) auto;
}

h1 {
  grid-area: header;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 1rem;
}

h2 {
  margin-top: 0;
}

.page-toggle-list {
  grid-area: list;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.plugin-settings {
  grid-area: settings;
  overflow: auto;
  border-left: 1px solid black;
  padding: 1rem;
}
