@import url("https://rsms.me/inter/inter.css");

.menu {
  font-family: "Inter", sans-serif;
  width: max-content;
  min-width: 250px;
}

.menu ul {
  padding-inline-start: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}
