.minimalist-editor-root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #333;
  background-color: #eee;
  padding-top: 25vh;
  padding-bottom: 25vh;
  box-sizing: border-box;
  overflow: auto;
  z-index: 9999999;
}

.minimalist-editor,
.minimalist-editor-height-checker {
  margin: auto;
  font-family: serif;
  font-size: 1.5em;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  overflow: visible;
  max-width: calc(100vw - 2em);
  width: 40em;
  display: block;
  line-height: 1.5;
}

.minimalist-editor-height-checker {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.save-notif {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: #0f0;
  font-size: 150%;
  padding: 20px;
  z-index: 3;
}
